<%- include('partials/meta/head', {page: "result"}) %>

<main>
  <h2>You brewed:</h2>
  <h1>Nasty potion</h1>
  <img src="/assets/nasty-potion.png" alt="Nasty potion" />
    
  <a href="/">Try again</a>
</main>

<%- include('partials/meta/foot') %>
