<%- include('partials/meta/head', {page: "index"}) %>

<div class="book"></div>

<div class="cauldron"></div>

<form method="POST" action="/brew">
  <div class="ingredients-active"></div>

  <div class="ingredients-list">
    <% data.ingredients.forEach(ingredient => { %>
    <%- include('partials/ingredientCard', {ingredient: ingredient}) %>
    <% }) %>
  </div>

  <button type="submit">Brew Potion</button>
</form>
<%- include('partials/meta/foot') %>
