/* ----------------------------------- */
/* -------------- Index -------------- */
/* ----------------------------------- */

:root {
  --ingredient-size: 8rem;
  --ingredient-image: 6rem;
  --ingredient-margin: 1rem;

  --color-selected-ring: rgba(78, 206, 187, 0.4);
  --color-selected-gradient-inner: rgba(78, 206, 187, 0);
  --color-selected-gradient-outer: rgba(78, 206, 187, 0.4);
  
  
  --color-disabled-ring: rgba(206, 78, 78, 0.4);
  --color-disabled-gradient-inner: rgba(206, 78, 78, 0);
  --color-disabled-gradient-outer: rgba(206, 78, 78, 0.4);
}

body {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

form {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* ----------------------------------- */
/* ----------- Recipe book ----------- */
/* ----------------------------------- */

.book {
  display: none;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 30rem;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: calc(100% - 11rem);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

.book .potion-page {
  height: calc(100% - 5rem);
  width: 100%;
}

.book .potion-title {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.book .potion-title h2 { 
  margin-bottom: 0.5rem;
}

.book img {
  width: 8rem;
  height: 8rem;
}

.book .potion-effects {
  margin-top: 2rem;
  margin-left: 3rem;
}

.book .potion-effects h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.book .potion-recipe {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* 2size + 3 */
  height: 13rem;
  /* 3size + 4 */
  width: 19rem;
  overflow: hidden;
  margin: auto;
  margin-top: 2rem;
}

.book .potion-recipe .recipe-ingredient {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.book .potion-recipe .recipe-ingredient img {
  height: 4rem;
  width: 4rem;
}

.book .potion-recipe .empty-slot {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.book .book-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book .book-navigation button {
  width: 5rem;
  height: 5rem;
  margin: 0;
  cursor: pointer;
}

.book .close-book {
  position: absolute;
  top: 1rem;
  right: -4rem;
  cursor: pointer;
  width: 3rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1;
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
}

.book-closed {
  transform: translateX(-29rem);
}


/* ----------------------------------- */
/* ------------ Cauldron ------------- */
/* ----------------------------------- */

.cauldron {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  right: 0;
  height: 100vh;
}

.cauldron svg {
  height: 100%;
  width: 100%;
  color: #545353;
  transition: color 0.5s ease-out;
}

/* ----------------------------------- */
/* ----------- Ingredients ----------- */
/* ----------------------------------- */

.ingredients-list {
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  overflow-x: scroll;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
}

.ingredient {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.1s, box-shadow 0.3s;
  cursor: pointer;
  animation: fadeIn 0.2s ease-out;
}

/* .ingredient:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */

.ingredient:focus-within, .ingredient:hover{
  outline: none;
  box-shadow: 0 0 0 4px var(--color-focus-ring);
}

.ingredient:has(input:checked) {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-selected-ring);
}

.ingredient:has(input:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-disabled-ring);
}

.ingredient:focus-within::after, .ingredient:hover::after{
  content:"";
  height: var(--ingredient-size);
  width: var(--ingredient-size);
  border-radius: 0.5rem;
  position: absolute;
  background: rgb(206, 78, 130);
  background: radial-gradient(
    circle,
    var(--color-focus-gradient-inner) 40%,
    var(--color-focus-gradient-outer) 100%
  );
}

.ingredient:has(input:checked)::after{
  content:"";
  height: var(--ingredient-size);
  width: var(--ingredient-size);
  border-radius: 0.5rem;
  position: absolute;
  background: rgb(206, 78, 130);
  background: radial-gradient(
    circle,
    var(--color-selected-gradient-inner) 40%,
    var(--color-selected-gradient-outer) 100%
  );
}

.ingredient:has(input:disabled)::after {
  content:"";
  height: var(--ingredient-size);
  width: var(--ingredient-size);
  border-radius: 0.5rem;
  position: absolute;
  background: rgb(206, 78, 130);
  background: radial-gradient(
    circle,
    var(--color-disabled-gradient-inner) 40%,
    var(--color-disabled-gradient-outer) 100%
  );
}


.ingredient img {
  height: var(--ingredient-image);
  width: var(--ingredient-image);
  transition: filter 0.1s;
}

.ingredient input[type="checkbox"]:checked + img {
  filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}

button {
  font-family: "MedievalSharp", cursive;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  position: relative;
  height: 3rem;
  width: calc(100% - 2rem);
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  overflow: hidden;
  border: none;
  transition: background-color 0.1s, box-shadow 0.3s;
} 

button:not(:disabled):focus-visible, button:not(:disabled):hover {
  box-shadow: 0 0 0 4px var(--color-focus-ring);
}

button:not(:disabled):focus-visible::after, button:not(:disabled):hover::after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(206, 78, 130);
  background: radial-gradient(
    circle,
    var(--color-focus-gradient-inner) 40%,
    var(--color-focus-gradient-outer) 100%
  );
}

button:disabled {
  cursor: default !important;
}

.ingredients-active {
  position: absolute;
  right: 16rem;
  bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.active-grid {
  position: relative;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  height: calc((var(--ingredient-size) * 2) + (var(--ingredient-margin) * 3));
  width: calc((var(--ingredient-size) * 3) + (var(--ingredient-margin) * 4));
  overflow: hidden;
}

.active-grid .empty-slot {
  height: var(--ingredient-size);
  width: var(--ingredient-size);
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 880px) {
  .book {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}