/* ----------------------------------- */
/* -------------- Index -------------- */
/* ----------------------------------- */

body {
  display: flex;
  height: 100vh;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.book {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 255, 0, 0.2); */
}

.cauldron {
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

/* ----------------------------------- */
/* ----------- Ingredients ----------- */
/* ----------------------------------- */

.ingredients-list {
  grid-area: d;
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  overflow-x: scroll;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.ingredients-list label {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.1s;
}

button {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

.ingredients-list label:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.ingredients-list img {
  height: 6rem;
  width: 6rem;
  transition: filter 0.1s;
}

.ingredients-list input[type="checkbox"]:checked + img {
  filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}

.ingredients-active {
  border: 2px solid #000;
  position: absolute;
  right: 2rem;
  bottom: 12rem;
}