/* ----------------------------------- */
/* ------------- Result -------------- */
/* ----------------------------------- */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(109, 197, 129, 0.2);
  border-radius: 0.5rem;
}

img {
  width: 100%;
  max-width: 20rem;
}

a {
  font-family: "MedievalSharp", cursive;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: none;
  transition: background-color 0.1s, box-shadow 0.3s;
} 

a:not(:disabled):focus-visible, a:not(:disabled):hover {
  box-shadow: 0 0 0 4px var(--color-focus-ring);
}

a:not(:disabled):focus-visible::after, a:not(:disabled):hover::after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(206, 78, 130);
  background: radial-gradient(
    circle,
    var(--color-focus-gradient-inner) 40%,
    var(--color-focus-gradient-outer) 100%
  );
}

a:disabled {
  cursor: default !important;
}